.border-panel{
    border-width:1px 1px 1px 1px;
    border:solid rgb(235, 235, 235) 1px;
    border-radius: 16px;
    box-shadow: 4px 3px 5px rgb(235, 235, 235);
}

.profile_container{
    height:220px;
    margin-top:1cm;
    text-align: left;
    flex-direction: column;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-left:12px;
    margin-right:12px;
    margin-bottom: 22px;
}

.info-row{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.info-panel{
    flex-direction: column;
    display: flex; 
    align-items: flex-start;
    
}
.info-panel p{
    margin-left:8px;
    font-size: 22px;
    margin-bottom: 0px;
}

.info-row img{
    filter: opacity(0.2);  
}

.thuat-toan {
    object-fit: cover;
    width:auto
}

.guideline-panel{
    padding-left:32px;
    padding-right: 32px;
}

.FAB-button{
    position:fixed;
    z-index: 1000;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#007bff;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.col-md-6 .border-panel{
    margin:12px;
    padding:12px;
    
}

.col-md-6 .border-panel legend{
    text-align: center
}

.screen-row {
    margin-bottom: 20px;
}
