<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="../css//bootstrap.min.css"> -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/help_page.css">
    <title>Home page</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="./home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./screen.html">Screen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./setting.html">Setting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./help.html">Help</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="border-panel">
                    <legend>Control System</legend>
                    <div class="row" style="height: 22px;"></div>
                    <div class="row">
                        <div class="col">
                            <!-- AWP_In_Variable Name='"M_START"' -->
                            <input id="start_btn" onclick="send_request('start')" class="btn btn-outline-success btn-block" type="submit" onclick="batden1()"
                                value="START">
                        </div>
                        <div class="col">
                            <!-- AWP_In_Variable Name='"M_STOP"' -->
                            <input id="stop_btn" onclick="send_request('stop')" class="btn btn-danger btn-block" type="submit" value="STOP">
                        </div>
                    </div>
                    <div class="row" style="height: 22px;"></div>
                    <div class="row">
                        <!-- AWP_In_Variable Name='"M_MANU"' -->
                        <div class="col">
                            <input id="auto_btn" onclick="send_request('auto')" class="btn btn-warning btn-block" type="submit" value="AUTO">
                        </div>
                        <div class="col">
                            <input id="manual_btn" onclick="send_request('manual')" class="btn btn-outline-warning btn-block" type="submit" value="MANUAL">
                        </div>
                    </div>
                    <div class="row" style="height: 22px;"></div>
                    <div class="row">
                        <!-- AWP_In_Variable Name='"M_E_STOP"' -->

                        <div class="col">
                            <input id="emergency_btn" onclick="send_request('emergency')" type="submit" class="btn btn-outline-danger btn-block" value="EMERGENCY STOP">
                        </div>

                    </div>
                    <div class="row" style="height: 22px;"></div>
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="border-panel">
                    <legend>Manual</legend>
                    <div class="row" style="height: 22px;"></div>

                    <!-- AWP_In_Variable Name='"M_MANU_DONG_K0"' -->
                    <!-- AWP_In_Variable Name='"M_MANU_MO_K0"' -->
                    <div class="row">
                        <div class="col">
                            <input id="light_on" onclick="send_request('light_on')" class="btn btn-outline-success btn-block" type="submit" onclick="batden1()"
                                value="Turn-on light">
                        </div>
                        <div class="col">
                            <input id="light_off" onclick="send_request('light_off')" class="btn btn-danger btn-block" type="submit" value="Turn-off light">
                        </div>
                    </div>
                    <div class="row" style="height: 22px;"></div>

                    <!-- AWP_In_Variable Name='"M_MANU_DONG_K1"' -->
                    <!-- AWP_In_Variable Name='"M_MANU_MO_K1"' -->
                    <div class="row">
                        <div class="col">
                            <input id="fog_on" onclick="send_request('fog_on')" class="btn btn-outline-success btn-block" type="submit" onclick="batden1()"
                                value="Turn-on fog">
                        </div>
                        <div class="col">
                            <input id="fog_off" onclick="send_request('fog_off')" class="btn btn-danger btn-block" type="submit" value="Turn-off fog">
                        </div>
                    </div>
                    <div class="row" style="height: 22px;"></div>

                    <!-- AWP_In_Variable Name='"M_MANU_DONG_K2"' -->
                    <!-- AWP_In_Variable Name='"M_MANU_DONG_K3"' -->
                    <div class="row">
                        <div class="col">
                            <input id="sun_close" onclick="send_request('sun_close')" class="btn btn-outline-success btn-block" type="submit" onclick="batden1()"
                                value="Close sunblock netting">
                        </div>
                        <div class="col">
                            <input id="sun_open" onclick="send_request('sun_open')" class="btn btn-outline-danger btn-block" type="submit" value="Open sunblock netting">
                        </div>
                    </div>
                    <div class="row" style="height: 22px;"></div>

                    <!-- AWP_In_Variable Name='"M_MANU_DONG_K4"' -->
                    <!-- AWP_In_Variable Name='"M_MANU_MO_K4"' -->
                    <div class="row">
                        <div class="col">
                            <input id="door_open" onclick="send_request('door_open')" class="btn btn-outline-success btn-block" type="submit" onclick="batden1()"
                                value="Open door and fan">
                        </div>
                        <div class="col">
                            <input id="door_close" onclick="send_request('door_close')" class="btn btn-danger btn-block" type="submit" value="Close door and fan">
                        </div>
                    </div>
                    <div class="row" style="height: 22px;"></div>

                    <!-- AWP_In_Variable Name='"M_MANU_DONG_K5"' -->
                    <!-- AWP_In_Variable Name='"M_MANU_MO_K5"' -->
                    <div class="row">
                        <div class="col">
                            <input id="coolpad_open" onclick="send_request('coolpad_open')" class="btn btn-outline-success btn-block" type="submit" onclick="batden1()"
                                value="Open coolpad fan">
                        </div>
                        <div class="col">
                            <input id="coolpad_close" onclick="send_request('coolpad_close')" class="btn btn-danger btn-block" type="submit" value="Close coolpad fan">
                        </div>
                    </div>
                    <div class="row" style="height: 22px;"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <!--bootstrap script-->
    <script src="./script/script.js"></script>
    <!--custom script-->
    <script src="./script/screen.js"></script>
</body>

</html>



<!-- <button onclick="change_video(2)">Video 1</button>
<button onclick="change_video(3)">Video 2</button>
<video id="source_video" width="500" height="300" src="./public/videos/1.mp4" controls/> -->