<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/help_page.css">
    <title>Home page</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Screen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Setting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./help.html">Help</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container">
        <input onclick="send_form()" class="FAB-button" type="" class="btn btn-primary" value="Set" />
        <form class>
            <div class="row">
                <div class="col-md-6 border-panel">
                    <legend>Set Time To Use Fog System</legend>
                    <label>Time 1</label>
                    <div class="row">
                        <div class="col">
                            <!-- AWP_In_Variable Name='"SET_HOUR_PHUN_SUONG_1"' -->
                            <input class="form-control" placeholder="Hour" type="text" id='"SET_HOUR_PHUN_SUONG_1"' name='"SET_HOUR_PHUN_SUONG_1"'>
                        </div>
                        <div class="col">
                            <!-- AWP_In_Variable Name='"SET_MINUTE_PHUN_SUONG_1"' -->
                            <input class="form-control" placeholder="Minute" type="text"  id='"SET_MINUTE_PHUN_SUONG_1"' name='"SET_MINUTE_PHUN_SUONG_1"'>
                        </div>
                        <div class="col">
                            <!-- AWP_In_Variable Name='"SET_SO_GIAY_PHUN_SUONG_1"' -->
                            <input class="form-control" placeholder="Set second" type="text" id='"SET_SO_GIAY_PHUN_SUONG_1"' name='"SET_SO_GIAY_PHUN_SUONG_1"'>
                        </div>
                    </div>
                    <div style="height: 12px;"></div>

                    <label> Time 2</label>
                    <div class="row">
                        <div class="col">
                            <!-- AWP_In_Variable Name='"SET_HOUR_PHUN_SUONG_2"' -->
                            <input class="form-control" placeholder="Hour" type="text" name='"SET_HOUR_PHUN_SUONG_2"'>
                        </div>
                        <div class="col">
                            <!-- AWP_In_Variable Name='"SET_MINUTE_PHUN_SUONG_2"' -->
                            <input class="form-control" placeholder="Minute" type="text" name='"SET_MINUTE_PHUN_SUONG_2"'>
                        </div>
                        <div class="col">
                            <!-- AWP_In_Variable Name='"SET_SO_GIAY_PHUN_SUONG_2"' -->
                            <input class="form-control" placeholder="Set second" type="text" name='"SET_SO_GIAY_PHUN_SUONG_2"'>
                        </div>
                    </div>
                    <div style="height: 12px;"></div>

                    <label> Time 3</label>
                    <div class="row">
                        <div class="col">
                            <!-- AWP_In_Variable Name='"SET_HOUR_PHUN_SUONG_3"' -->
                            <input class="form-control" placeholder="Hour" type="text" name='"SET_HOUR_PHUN_SUONG_3"'>
                        </div>
                        <div class="col">
                            <!-- AWP_In_Variable Name='"SET_MINUTE_PHUN_SUONG_3"' -->
                            <input class="form-control" placeholder="Minute" type="text" name='"SET_MINUTE_PHUN_SUONG_3"'>
                        </div>
                        <div class="col">
                            <!-- AWP_In_Variable Name='"SET_SO_GIAY_PHUN_SUONG_3"' -->
                            <input class="form-control" placeholder="Set second" type="text" name='"SET_SO_GIAY_PHUN_SUONG_3"'>
                        </div>
                    </div>
                    <div style="height: 12px;"></div>
                </div>
                <div class="col-md-6 border-panel">
                    <legend>Set Temperature To Operate Auto Mode</legend>

                    <label>Temperature</label>
                    <div class="row">
                        <div class="col">
                            <!-- AWP_In_Variable Name='"SET_MAX_NHIET_DO"' -->
                            <input class="form-control" placeholder="Max" type="text" name='"SET_MAX_NHIET_DO"'>
                        </div>
                        <div class="col">
                            <!-- AWP_In_Variable Name='"SET_MIN_NHIET_DO"' -->
                            <input class="form-control" placeholder="Min" type="text" name='"SET_MIN_NHIET_DO"'>
                        </div>
                    </div>
                    <div style="height: 12px;"></div>

                    <label>Plus Time To Use Light</label>
                    <div class="row">
                        <div class="col">
                            <!-- AWP_In_Variable Name='"SET_SO_GIAY_MO_DEN"' -->
                            <input class="form-control" placeholder="Second" type="text" name='"SET_SO_GIAY_MO_DEN"'>
                        </div>
                    </div>
                    <div style="height: 12px;"></div>

                    <label>After Time To Use Fog System</label>
                    <div class="row">
                        <div class="col">
                            <!-- AWP_In_Variable Name='"SET_SO_GIAY_CHAY_COOLPAD_VA_QUAT"' -->
                            <input class="form-control" placeholder="Second" type="text" name='"SET_SO_GIAY_CHAY_COOLPAD_VA_QUAT"'>
                        </div>
                    </div>
                    <div style="height: 12px;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 border-panel">
                    <legend>Set Time To Use Sunblock Netting System</legend>

                    <label>Close</label>
                    <div class="row">
                        <div class="col">
                            <!-- AWP_In_Variable Name='"SET_HOUR_DONG_LUOI_CAT_NANG"' -->
                            <input class="form-control" placeholder="Hour" type="text" name='"SET_HOUR_DONG_LUOI_CAT_NANG"'>
                        </div>
                        <div class="col">
                            <!-- AWP_In_Variable Name='"SET_MINUTE_DONG_LUOI_CAT_NANG"' -->
                            <input class="form-control" placeholder="Minute" type="text" name='"SET_MINUTE_DONG_LUOI_CAT_NANG"'>
                        </div>
                    </div>
                    <div style="height: 12px;"></div>

                    <label>Open</label>
                    <div class="row">
                        <div class="col">
                            <!-- AWP_In_Variable Name='"SET_HOUR_MO_LUOI_CAT_NANG"' -->
                            <input class="form-control" placeholder="Hour" type="text" name='"SET_HOUR_MO_LUOI_CAT_NANG"'>
                        </div>
                        <div class="col">
                            <!-- AWP_In_Variable Name='"SET_MINUTE_MO_LUOI_CAT_NANG"' -->
                            <input class="form-control" placeholder="Minute" type="text" name='"SET_MINUTE_MO_LUOI_CAT_NANG"'>
                        </div>
                    </div>
                    <div style="height: 12px;"></div>

                </div>
                <div class="col-md-6 border-panel">
                    <legend>Set Time To Use Light</legend>
                    <label>Open</label>
                    <div class="row">
                        <div class="col">
                            <!-- AWP_In_Variable Name='"SET_HOUR_MO_DEN"' -->
                            <input class="form-control" placeholder="Hour" type="text" name='"SET_HOUR_MO_DEN"'>
                        </div>
                        <div class="col">
                            <!-- AWP_In_Variable Name='"SET_MINUTE_MO_DEN"' -->
                            <input class="form-control" placeholder="Minute" type="text" name='"SET_MINUTE_MO_DEN"'>
                        </div>
                    </div>
                    <div style="height: 12px;"></div>

                    <label>Close</label>
                    <div class="row">
                        <div class="col">
                            <!-- AWP_In_Variable Name='"SET_HOUR_TAT_DEN"' -->
                            <input class="form-control" placeholder="Hour" type="text" name='"SET_HOUR_TAT_DEN"'>
                        </div>
                        <div class="col">
                            <!-- AWP_In_Variable Name='"SET_MINUTE_TAT_DEN"' -->
                            <input class="form-control" placeholder="Minute" type="text" name='"SET_MINUTE_TAT_DEN"'>
                        </div>
                    </div>
                    <div style="height: 12px;"></div>
                </div>
            </div>
        </form>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <!--bootstrap script-->
    <script src="./script/script.js"></script>
    <!--custom script-->
    <script src="./script/setting.js"></script>
</body>

</html>